@font-face {
    font-family: 'vhs-gothic';
    src: url('../assets/vhs-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'vhs-gothic', sans-serif;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}