.Hype-wrapper{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.Vid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vid-container iframe {
  width: 105vh;
  height: 59.05vh;
  padding: 2vh;

}